# Jupyter support for python
jupyter==1.1.1

# Math libraries
numpy==2.0.2
pandas==2.2.3

# Data science and visualization
matplotlib==3.9.4
seaborn==0.13.2

# Machine learning libraries
scikit-learn==1.6.1
tensorflow==2.19.0
keras==3.9.1
transformers==4.50.3

# Kaggle data download
kaggle==1.7.4.2
kagglehub==0.3.11
